* {
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

a:link {
    color: #414141;
}

a:visited {
    color: #414141;
}

a:hover {
    color: #336ca8;
}

a:active {
    color: #17416d;
}