* {
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

a {
    text-decoration: none;
    font-family: "Consolas", sans-serif, Arial;
    margin: 0 5px;
}

p.center {
    text-align: center;
}

a:link {
    color: #727272;
}

a:visited {
    color: #727272;
}

a:hover {
    color: #336ca8;
    text-shadow: #171717b5;
}

a:active {
    color: #17416d;
    text-shadow: #000000c6;
}